.this-title{
  color: #9e5fb1;
  font-size: 25px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}
.out-1{
  width: 100px;
  height: 100px;
  background: #f6dbdb;
  border-radius: 100%;
}
