body{
	font-family: "Fira Sans", sans-serif;
}
.timer{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.timer-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.timer__item{
	box-sizing: border-box;
	text-align: center;
	line-height: 100px;
	width: 100px;
	font-size: 60px;
	font-weight: bold;
	color: #fff;
	background: rgb(240, 110, 175);
	border-radius: 2px;
}
.btn, .stop, .discharge{
	height: 50px;
	width: 50px;
	border-radius: 100%;
	border: 1px solid #f1abab;
	border-bottom: 4px solid #f36e6e;
	background: #fff;
	color: #f1abab;
	margin-top: 10px;
	padding: 0;
}
.btn:hover, .stop:hover, .discharge:hover{
	border: 1px solid #f07d7d;
	border-bottom: 4px solid #f36e6e;
	background: #fff;
	color: #f07d7d;
	background: #f5a1a1;
	color: #f01616;
}
.btn:active, .stop:active, .discharge:active{
	outline: none;
	border-bottom: 1px solid #f1abab;
	border-top: 3px solid #f1abab;
}
.btn:focus, .stop:focus, .discharge:focus{
	outline: none;
}
.active{
	color: #f01616;
	border-color: #f01616;
	background: #f5a1a1;
	box-shadow: 0 0 10px #f01616, 2px 2px 10px #f01616;
}